<a href="https://colab.research.google.com/github/yansiercaro/alura_store/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [25]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

##Exploración de los datos

In [26]:
for i, df in enumerate([tienda, tienda2, tienda3, tienda4], start=1):
    print(f"=== TIENDA {i} ===")
    print(df.info())
    print(df.describe())
    print("\nPrimeras filas:")
    print(df.head(), "\n\n")

=== TIENDA 1 ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.878679e+05    26018.609580      3.976685            2.943196
std    6.146868e+05    32860.001783      1.415370            2.819897
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.575000e+04     3100.000000      3.000000            1.000000
50%    2.353000e+05    12400.000000      5.000000            1.000000
75%    6.781000e+05    36000.000000      5.000000            4.000000
max    2.977000e+06   160800.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.365283   -74.789417
std       2.287445     1.217827
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Primeras filas:
            Producto Categoría del Producto    Precio  Costo de envío  \
0  Asistente virtual           Electrónicos  164300.0          6900.0
1    Mesa de comedor                Muebles  192300.0          8400.0
2      Juego de mesa               Juguetes  209600.0         15900.0
3         Microondas      Electrodomésticos  757500.0         41000.0
4   Silla de oficina                Muebles  335200.0         20200.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas       lat       lon
0  Tarjeta de crédito                   8   4.60971 -74.08175
1  Tarjeta de crédito                   4   6.25184 -75.56359
2  Tarjeta de crédito                   1  10.39972 -75.51444
3               Nequi                   1   3.43722 -76.52250
4               Nequi                   1   6.25184 -75.56359


=== TIENDA 2 ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.732274e+05    25216.235693      4.037304            2.902501
std    5.955595e+05    31741.375166      1.356153            2.848416
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.455000e+04     2900.000000      4.000000            1.000000
50%    2.182000e+05    11600.000000      5.000000            1.000000
75%    6.777000e+05    35450.000000      5.000000            4.000000
max    2.953400e+06   162500.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.499753   -74.742963
std       2.351118     1.185997
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Primeras filas:
           Producto  Categoría del Producto    Precio  Costo de envío  \
0  Silla de oficina                 Muebles  283600.0         15300.0
1         Pandereta  Instrumentos musicales   76800.0          2300.0
2         Cama king                 Muebles  443300.0         23800.0
3         Cama king                 Muebles  906200.0         46400.0
4  Silla de oficina                 Muebles  397800.0         19400.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      04/08/2021  Izabela de León        Medellín             1
1      26/11/2020   Blanca Ramirez        Medellín             3
2      22/10/2021  Izabela de León         Pereira             5
3      04/05/2022    Maria Alfonso            Cali             5
4      26/02/2022    Lucas Olivera          Bogotá             4

       Método de pago  Cantidad de cuotas      lat       lon
0               Nequi                   1  6.25184 -75.56359
1  Tarjeta de crédito                   4  6.25184 -75.56359
2  Tarjeta de crédito                  10  4.81333 -75.69611
3  Tarjeta de crédito                  10  3.43722 -76.52250
4  Tarjeta de crédito                   3  4.60971 -74.08175


=== TIENDA 3 ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.359000e+03     2359.000000   2359.000000         2359.000000
mean   4.654598e+05    24805.680373      4.048326            2.967783
std    5.806434e+05    30945.889626      1.386426            2.812153
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.740000e+04     3100.000000      4.000000            1.000000
50%    2.263000e+05    11900.000000      5.000000            2.000000
75%    6.660500e+05    34950.000000      5.000000            4.000000
max    2.968200e+06   158400.000000      5.000000           24.000000

               lat          lon
count  2359.000000  2359.000000
mean      5.437076   -74.733463
std       2.405272     1.224572
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Primeras filas:
            Producto  Categoría del Producto     Precio  Costo de envío  \
0   Secadora de ropa       Electrodomésticos  1285100.0         66600.0
1      Mesa de noche                 Muebles   290100.0         13600.0
2  Guitarra acústica  Instrumentos musicales   303500.0         17400.0
3  Balón de voleibol    Deportes y diversión    58800.0          3300.0
4            Armario                 Muebles   521100.0         25900.0

  Fecha de Compra        Vendedor Lugar de Compra  Calificación  \
0      17/12/2021   Camila Rivera     Santa Marta             4
1      10/02/2021   Maria Alfonso            Cali             3
2      22/01/2023   Lucas Olivera          Bogotá             5
3      22/03/2022     Pedro Gomez    Barranquilla             4
4      12/01/2022  Blanca Ramirez          Bogotá             1

       Método de pago  Cantidad de cuotas       lat       lon
0  Tarjeta de crédito                   4  11.24079 -74.19904
1  Tarjeta de crédito                   1   3.43722 -76.52250
2  Tarjeta de crédito                   3   4.60971 -74.08175
3  Tarjeta de crédito                   6  10.96854 -74.78132
4  Tarjeta de crédito                   1   4.60971 -74.08175


=== TIENDA 4 ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB
None
             Precio  Costo de envío  Calificación  Cantidad de cuotas  \
count  2.358000e+03     2358.000000   2358.000000         2358.000000
mean   4.403629e+05    23459.457167      3.995759            2.896098
std    5.687556e+05    30279.100836      1.403063            2.730393
min    7.600000e+03        0.000000      1.000000            1.000000
25%    5.340000e+04     2900.000000      3.000000            1.000000
50%    2.094500e+05    10950.000000      5.000000            1.000000
75%    6.342250e+05    33300.000000      5.000000            4.000000
max    2.902200e+06   154700.000000      5.000000           18.000000

               lat          lon
count  2358.000000  2358.000000
mean      5.413519   -74.774597
std       2.376728     1.199749
min      -4.215280   -77.281110
25%       4.609710   -75.563590
50%       4.609710   -74.199040
75%       6.251840   -74.081750
max      11.544440   -67.923900

Primeras filas:
              Producto Categoría del Producto     Precio  Costo de envío  \
0         Lavavajillas      Electrodomésticos  1084800.0         56000.0
1             Cama box                Muebles   473800.0         25400.0
2  Balón de baloncesto   Deportes y diversión    23700.0             0.0
3  Modelado predictivo                 Libros    57700.0          1300.0
4          Auriculares           Electrónicos   138900.0          5600.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      11/11/2022    Rafael Acosta          Bogotá             4
1      03/01/2020  Izabela de León          Cúcuta             5
2      25/12/2022    Maria Alfonso        Medellín             5
3      23/11/2021    Lucas Olivera        Medellín             3
4      25/04/2022   Blanca Ramirez          Bogotá             4

       Método de pago  Cantidad de cuotas      lat       lon
0  Tarjeta de crédito                   3  4.60971 -74.08175
1  Tarjeta de crédito                   2  7.89391 -72.50782
2               Nequi                   1  6.25184 -75.56359
3               Nequi                   1  6.25184 -75.56359
4  Tarjeta de crédito                   7  4.60971 -74.08175

In [27]:
print(tienda.columns.tolist())

['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']

###Resumen de productos, categorias y calificaciones

In [28]:
import pandas as pd

tienda["Tienda"] = "Tienda 1"
tienda2["Tienda"] = "Tienda 2"
tienda3["Tienda"] = "Tienda 3"
tienda4["Tienda"] = "Tienda 4"

# --- Seleccionamos columnas relevantes ---
columnas = ["Tienda", "Producto", "Categoría del Producto", "Calificación"]
todas = pd.concat([tienda[columnas], tienda2[columnas], tienda3[columnas], tienda4[columnas]], ignore_index=True)

# --- Creamos resumen por tienda ---
resumen_tiendas = todas.groupby("Tienda").agg({
    "Producto": "count",
    "Categoría del Producto": "nunique",
    "Calificación": "sum"
}).reset_index()

# --- Renombramos columnas ---
resumen_tiendas.rename(columns={
    "Producto": "Total de productos",
    "Categoría del Producto": "Total de categorías",
    "Calificación": "Suma de calificaciones"
}, inplace=True)

print("Resumen general por tienda:\n")
print(resumen_tiendas)

Resumen general por tienda:

     Tienda  Total de productos  Total de categorías  Suma de calificaciones
0  Tienda 1                2359                    8                    9381
1  Tienda 2                2359                    8                    9524
2  Tienda 3                2359                    8                    9550
3  Tienda 4                2358                    8                    9422

###Explorando los precios y metodos de pago

In [29]:
cols = ["Precio", "Método de pago"]

t1 = tienda[cols].copy()
t2 = tienda2[cols].copy()
t3 = tienda3[cols].copy()
t4 = tienda4[cols].copy()


t1["Tienda"] = "Tienda 1"
t2["Tienda"] = "Tienda 2"
t3["Tienda"] = "Tienda 3"
t4["Tienda"] = "Tienda 4"

# Unimos todas
pagos = pd.concat([t1, t2, t3, t4], ignore_index=True)

# --- Promedio de precios por tienda ---
precio_promedio = pagos.groupby("Tienda")["Precio"].mean().reset_index()
precio_promedio.rename(columns={"Precio": "Precio promedio"}, inplace=True)

print("\n Promedio de precios por tienda:\n")
print(precio_promedio)

 Promedio de precios por tienda:

     Tienda  Precio promedio
0  Tienda 1    487867.910131
1  Tienda 2    473227.426876
2  Tienda 3    465459.771089
3  Tienda 4    440362.892282

In [30]:
metodos_pago = pagos.groupby(["Tienda", "Método de pago"]).size().reset_index(name="Cantidad de transacciones")

print("\n Métodos de pago más utilizados por tienda:\n")
print(metodos_pago.head(10))

 Métodos de pago más utilizados por tienda:

     Tienda      Método de pago  Cantidad de transacciones
0  Tienda 1               Cupón                        137
1  Tienda 1               Nequi                        483
2  Tienda 1  Tarjeta de crédito                       1704
3  Tienda 1   Tarjeta de débito                         35
4  Tienda 2               Cupón                        141
5  Tienda 2               Nequi                        467
6  Tienda 2  Tarjeta de crédito                       1721
7  Tienda 2   Tarjeta de débito                         30
8  Tienda 3               Cupón                        101
9  Tienda 3               Nequi                        468

#1. Análisis de facturación

In [31]:
#Obtengo los totales de cada tienda
ingreso_tienda1=sum(tienda["Precio"])
ingreso_tienda2=sum(tienda2["Precio"])
ingreso_tienda3=sum(tienda3["Precio"])
ingreso_tienda4=sum(tienda4["Precio"])

print(f"Ingreso total de la tienda 1: ${ingreso_tienda1}")
print(f"Ingreso total de la tienda 2: ${ingreso_tienda2}")
print(f"Ingreso total de la tienda 3: ${ingreso_tienda3}")
print(f"Ingreso total de la tienda 4: ${ingreso_tienda4}")

Ingreso total de la tienda 1: $1150880400.0
Ingreso total de la tienda 2: $1116343500.0
Ingreso total de la tienda 3: $1098019600.0
Ingreso total de la tienda 4: $1038375700.0

In [32]:
#Organizo los datos obtenidos en una tabla y con un formato más legible en los numeros

import pandas as pd

ingreso_tienda1 = 11508804.0
ingreso_tienda2 = 11163435.0
ingreso_tienda3 = 10980196.0
ingreso_tienda4 = 10383757.0

datos = {
    'Tienda': ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4'],
    'Ingreso Total': [ingreso_tienda1, ingreso_tienda2, ingreso_tienda3, ingreso_tienda4]
}

df = pd.DataFrame(datos)

def formatear_moneda(numero):
    return f"${numero:,.2f}"

df['Ingreso Total Formateado'] = df['Ingreso Total'].apply(formatear_moneda)

df_final = df[['Tienda', 'Ingreso Total Formateado']]
df_final.columns = ['Tienda', 'Ingreso Total']

print("Ingresos Totales por Tienda:")
print(df_final.to_string(index=False))

Ingresos Totales por Tienda:
  Tienda  Ingreso Total
Tienda 1 $11,508,804.00
Tienda 2 $11,163,435.00
Tienda 3 $10,980,196.00
Tienda 4 $10,383,757.00

# 2. Ventas por categoría

In [33]:
categorias_por_tienda = (
    todas.groupby("Tienda")["Categoría del Producto"]
    .nunique()
    .reset_index()
    .rename(columns={"Categoría del Producto": "Cantidad de categorías"})
)

print("Cantidad de categorías únicas por tienda:\n")
print(categorias_por_tienda.to_string(index=False))

Cantidad de categorías únicas por tienda:

  Tienda  Cantidad de categorías
Tienda 1                       8
Tienda 2                       8
Tienda 3                       8
Tienda 4                       8

In [34]:
#Agrupamos por tienda y categoría
ventas_categoria = (
    todas.groupby(["Tienda", "Categoría del Producto"])["Producto"]
    .count()
    .reset_index()
    .rename(columns={"Producto": "Cantidad de ventas"})
)

#Ordenamos dentro de cada tienda
ventas_categoria = ventas_categoria.sort_values(["Tienda", "Cantidad de ventas"], ascending=[True, False])

#Mostramos todas las categorías con total
print("Categorías y total de ventas por tienda:\n")

for tienda_nombre, df_tienda in ventas_categoria.groupby("Tienda"):
    print(f"=== {tienda_nombre} ===")

    # Todas las categorías
    tabla_tienda = df_tienda[["Categoría del Producto", "Cantidad de ventas"]]

    # Calculamos el total de ventas
    total_ventas = df_tienda["Cantidad de ventas"].sum()

    # Agregamos la fila total
    total_row = pd.DataFrame({
        "Categoría del Producto": ["TOTAL"],
        "Cantidad de ventas": [total_ventas]
    })

    # Combinamos
    resultado = pd.concat([tabla_tienda, total_row], ignore_index=True)

    # Mostramos la tabla
    print(resultado.to_string(index=False))
    print()

Categorías y total de ventas por tienda:

=== Tienda 1 ===
 Categoría del Producto  Cantidad de ventas
                Muebles                 465
           Electrónicos                 448
               Juguetes                 324
      Electrodomésticos                 312
   Deportes y diversión                 284
 Instrumentos musicales                 182
                 Libros                 173
Artículos para el hogar                 171
                  TOTAL                2359

=== Tienda 2 ===
 Categoría del Producto  Cantidad de ventas
                Muebles                 442
           Electrónicos                 422
               Juguetes                 313
      Electrodomésticos                 305
   Deportes y diversión                 275
 Instrumentos musicales                 224
                 Libros                 197
Artículos para el hogar                 181
                  TOTAL                2359

=== Tienda 3 ===
 Categoría del Producto  Cantidad de ventas
                Muebles                 499
           Electrónicos                 451
               Juguetes                 315
      Electrodomésticos                 278
   Deportes y diversión                 277
                 Libros                 185
Artículos para el hogar                 177
 Instrumentos musicales                 177
                  TOTAL                2359

=== Tienda 4 ===
 Categoría del Producto  Cantidad de ventas
                Muebles                 480
           Electrónicos                 451
               Juguetes                 338
   Deportes y diversión                 277
      Electrodomésticos                 254
Artículos para el hogar                 201
                 Libros                 187
 Instrumentos musicales                 170
                  TOTAL                2358

In [35]:
# --- Total de ventas por tienda ---
total_ventas_tienda = (
    ventas_categoria.groupby("Tienda")["Cantidad de ventas"]
    .sum()
    .reset_index()
)

# --- Categoría más vendida por tienda ---
categoria_top = (
    ventas_categoria.sort_values(["Tienda", "Cantidad de ventas"], ascending=[True, False])
    .groupby("Tienda")
    .first()  # toma la primera fila (la de mayor cantidad)
    .reset_index()[["Tienda", "Categoría del Producto"]]
    .rename(columns={"Categoría del Producto": "Categoría más vendida"})
)

# --- Unimos ambos DataFrames ---
ranking_tiendas = (
    pd.merge(total_ventas_tienda, categoria_top, on="Tienda")
    .sort_values("Cantidad de ventas", ascending=False)
    .reset_index(drop=True)
)

print("Ranking de tiendas por total de ventas (de mayor a menor):\n")
print(ranking_tiendas.to_string(index=False))

Ranking de tiendas por total de ventas (de mayor a menor):

  Tienda  Cantidad de ventas Categoría más vendida
Tienda 1                2359               Muebles
Tienda 2                2359               Muebles
Tienda 3                2359               Muebles
Tienda 4                2358               Muebles

# 3. Calificación promedio de la tienda

In [36]:
calificacion_promedio = (
    todas.groupby("Tienda")["Calificación"]
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={"Calificación": "Calificación promedio"})
    .sort_values("Calificación promedio", ascending=False)
)

print("Calificación promedio de clientes por tienda:\n")
print(calificacion_promedio.to_string(index=False))

Calificación promedio de clientes por tienda:

  Tienda  Calificación promedio
Tienda 3                   4.05
Tienda 2                   4.04
Tienda 4                   4.00
Tienda 1                   3.98

# 4. Productos más y menos vendidos

In [37]:
import matplotlib.pyplot as plt

#Agrupamos por tienda y producto
productos_ventas = (
    todas.groupby(["Tienda", "Producto"])["Producto"]
    .count()
    .reset_index(name="Cantidad de ventas")
)

#Ordenamos dentro de cada tienda
productos_ventas = productos_ventas.sort_values(["Tienda", "Cantidad de ventas"], ascending=[True, False])


print("Productos más y menos vendidos por tienda:\n")

productos_top_bottom = []  # para guardar datos de resumen

for tienda, df in productos_ventas.groupby("Tienda"):
    print(f"=== {tienda} ===")

    # Producto más vendido
    top = df.nlargest(1, "Cantidad de ventas")
    bottom = df.nsmallest(1, "Cantidad de ventas")

    print("Más vendido:")
    print(top[["Producto", "Cantidad de ventas"]].to_string(index=False))
    print("\nMenos vendido:")
    print(bottom[["Producto", "Cantidad de ventas"]].to_string(index=False))
    print()

    # Guardamos para graficar
    productos_top_bottom.append({
        "Tienda": tienda,
        "Producto más vendido": top["Producto"].values[0],
        "Ventas más altas": top["Cantidad de ventas"].values[0],
        "Producto menos vendido": bottom["Producto"].values[0],
        "Ventas más bajas": bottom["Cantidad de ventas"].values[0]
    })

#Convertimos el resumen en DataFrame
resumen_productos = pd.DataFrame(productos_top_bottom)

Productos más y menos vendidos por tienda:

=== Tienda 1 ===
Más vendido:
Producto  Cantidad de ventas
 Armario                  60

Menos vendido:
                 Producto  Cantidad de ventas
Auriculares con micrófono                  33

=== Tienda 2 ===
Más vendido:
                 Producto  Cantidad de ventas
Iniciando en programación                  65

Menos vendido:
     Producto  Cantidad de ventas
Juego de mesa                  32

=== Tienda 3 ===
Más vendido:
     Producto  Cantidad de ventas
Kit de bancas                  57

Menos vendido:
               Producto  Cantidad de ventas
Bloques de construcción                  35

=== Tienda 4 ===
Más vendido:
Producto  Cantidad de ventas
Cama box                  62

Menos vendido:
          Producto  Cantidad de ventas
Guitarra eléctrica                  33

In [38]:
print("Resumen general de productos más y menos vendidos:\n")
print(resumen_productos.to_string(index=False))

Resumen general de productos más y menos vendidos:

  Tienda      Producto más vendido  Ventas más altas    Producto menos vendido  Ventas más bajas
Tienda 1                   Armario                60 Auriculares con micrófono                33
Tienda 2 Iniciando en programación                65             Juego de mesa                32
Tienda 3             Kit de bancas                57   Bloques de construcción                35
Tienda 4                  Cama box                62        Guitarra eléctrica                33

# 5. Envío promedio por tienda

In [42]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

t1 = pd.read_csv(url1)
t2 = pd.read_csv(url2)
t3 = pd.read_csv(url3)
t4 = pd.read_csv(url4)

#Agregar una columna con el nombre de la tienda
t1["Tienda"] = "Tienda 1"
t2["Tienda"] = "Tienda 2"
t3["Tienda"] = "Tienda 3"
t4["Tienda"] = "Tienda 4"

#Combinar todas las tiendas conservando todas las columnas
todas = pd.concat([t1, t2, t3, t4], ignore_index=True)

In [44]:
envio_promedio = (
    todas.groupby("Tienda")["Costo de envío"]
    .mean()
    .round(2)
    .reset_index()
    .rename(columns={"Costo de envío": "Costo de envío promedio"})
    .sort_values("Costo de envío promedio", ascending=False)
)

envio_promedio["Costo de envío promedio"] = envio_promedio["Costo de envío promedio"].map("{:,.2f}".format)

print("Costo de envío promedio por tienda (el cliente paga el envío):\n")
print(envio_promedio.to_string(index=False))

Costo de envío promedio por tienda (el cliente paga el envío):

  Tienda Costo de envío promedio
Tienda 1               26,018.61
Tienda 2               25,216.24
Tienda 3               24,805.68
Tienda 4               23,459.46

#**Generando gráfico**